@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@600&family=Roboto&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
h1{
	font-family: 'Architects Daughter', cursive;
	font-size: 48px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}
*{
	font-family: 'Roboto', sans-serif;
}
